<div class="p-4 flex flex-col gap-2 w-full">
  <div appDropzone (hovered)="toggleHover($event)"
       (dropped)="onDrop($event)"
       [class.hovering]="isHovering"
       class="border-input data-[dragging=true]:bg-accent/50 has-[input:focus]:border-ring has-[input:focus]:ring-ring/50 relative flex min-h-52 flex-col items-center overflow-hidden rounded-xl border border-dashed p-4 transition-colors not-data-files:justify-center has-[input:focus]:ring-[3px]">
    <input class="sr-only"
           #fileInput
           [multiple]="true"
           (change)="onDrop($any($event.target)?.files)"
           type="file"
           aria-label="Upload image file" />

    @if (files.length > 0) {
      <div class="flex w-full flex-col gap-3">
        <div class="flex items-center justify-between gap-2">
          <h3 class="truncate text-sm font-medium">Files ({{ files.length }})</h3>
          <div class="flex gap-2">
            <button class="btn primary" (click)="fileInput.click()">
              <span class="material-symbols-outlined">add</span>
              <span>Add files</span>
            </button>
<!--            <button class="btn danger" (click)="clearAllProgressTracking()">-->
<!--              <span class="material-symbols-outlined">delete</span>-->
<!--              <span>Remove all</span>-->
<!--            </button>-->
          </div>
        </div>

        <div class="w-full space-y-2">
          @for (file of files; track $index) {
            <app-upload-task [file]="file" />
          }
        </div>
      </div>
    } @else {
      <div class="flex flex-col items-center justify-center px-4 py-3 text-center">
        <div class="mb-4 flex size-24 shrink-0 items-center justify-center rounded-full  text-primary-500 bg-primary-100"
             aria-hidden="true">
          <span class="material-symbols-outlined text-7xl! ">upload</span>
        </div>
        <p class="mb-1.5 text-sm font-medium">Drop your files here</p>
        <p class="text-muted-foreground text-xs">Max {{ maxFiles }} files ∙ Up to {{ maxSizeMB }}MB</p>
        <button class="mt-4 btn" (click)="fileInput.click()">
          <span class="material-symbols-outlined">add</span>
          <span>Select files</span>
        </button>
      </div>
    }
  </div>
  @if (errors.length > 0) {
    <div class="text-destructive flex items-center gap-1 text-xs" role="alert">
      <span class="material-symbols-outlined">warning</span>
      <span>{{ errors[0] }}</span>
    </div>
  }
</div>
